#student-detail {
    display: none;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active-button {
    background-color: #ccc;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.active-tabcontent {
    display: block;
}

.user-info-table {
    width: 100%;
    border-collapse: collapse;
}

.user-info-table th, .user-info-table td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.user-info-table th {
    background-color: #f8f9fa;
}

.user-image {
    max-width: 150px;
    max-height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.container {
    margin-top: 20px;
}

.table-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hidden {
    display:none;
}

.unhide {
    display: block;
}

#pi p {
    margin:0;
}

.semester {
    margin-top: 30px;
}
.semester-title {
    margin-bottom: 20px;
}

.fam-profile-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    overflow: hidden;
}
.fam-profile-header {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.fam-profile-header h2 {
    margin: 0;
    font-size: 1.25rem;
}
.fam-profile-details {
    padding: 10px;
}
.fam-profile-details .row + .row {
    margin-top: 5px;
}
.fam-profile-actions {
    padding: 10px;
    text-align: right;
}
.fam-profile-actions button {
    margin-left: 5px;
    padding: 5px 10px;
    font-size: 0.875rem;
}

.education-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f8f9fa;
    position: relative;
}
.education-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.education-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}
.education-header h5 {
    margin: 0;
}
.education-card-actions {
    position: absolute;
    bottom: 0px;
    right: 20px;
    margin-bottom: 5px;
}
.education-card-actions button {
    margin-left: 5px;
}


.centered-icon-text {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    flex-direction: row;
  }
.centered-icon-text span {
font-size: 10px;
}

  