*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,50,0.8),rgba(0,0,50,0.8)), url(../images/pic.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.container h2{
   
    font-size: 40px;
    color: #fff;
    position: relative;
    text-align: center;
    padding-top: 70px;
    
}

.form-box{
    width: 90%;
    max-width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 50px 50px 50px;
    text-align: center;
    border-radius: 10px;
}

.form-box label{
    color: red;
    margin-top: 15px;
    margin-bottom: -33px;
    text-align: center;
}

.form-box h1{
    font-size: 30px;
    margin-bottom: 60px;
    color: #3c00a0;
    position: relative;
}

.form-box h1::after{
    content: '';
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background: #3c00a0;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
}

.input-id{

    background: #eaeaea;
    margin-top: 40px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    max-height: 65px;
    transition: max-height 0.5s;
    overflow: hidden;
    
}

.input-pass{
    margin-top: 10px;
    background: #eaeaea;
    border-radius: 3px;
    display: flex;
    align-items: center;
    max-height: 65px;
    transition: max-height 0.5s;
    overflow: hidden;

}
input{
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 18px 15px;
}

.input-id i{
    margin-left: 15px;
    color: #999;
}

.input-pass i{
    margin-left: 15px;
    color: #999;
}

form p{
    text-align: left;
    font-size: 13px;
}

form p a{
    text-decoration: none;
    color: #3c00a0;
}

.btn-field{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.btn-field a{
    margin: -73px 1px;
    text-decoration: none;
}

.login-btn button{
    background: #3c00a0;
    color: #ffffff;
    font-size: 20px;
    height: 50px;
    width: 100%;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 0.3s;
    margin-top: -100px;
    margin-bottom: 20px;
}


.signup-btn a{
    font-size: 17px;
    text-decoration: none;
    margin-top: 20px;

}
.input-group{
    height: 260px;
}


.selectbtn{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.selectbtn button{
    flex-basis: 48%;
    background: #3c00a0;
    color: #fff;
    height: 40px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 1s;
}

.selectbtn button.disable{
    background: #eaeaea;
    color: #555;
}

.login-btn button:hover{
    background: #2d4aec;
}