{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static 'Users/images/logo.png' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'Students/css/student-base.css' %}">
    <title>{% block page_title %}{% endblock %}</title>
    {% block additionalLinks %} {% endblock %}
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <body>
        <nav>
          <div class="sidebar-top">
            <span class="shrink-btn">
              <i class='bx bx-chevron-left'></i>
            </span>
            <img src="{% static 'Users/images/logo.png' %}" class="logo" alt="">
            <h3 class="hide">Student Profile Management System - Faculty</h3>
          </div>
      
          <div class="sidebar-links">
            <ul style="padding:0;">
              <li style="display:none" class="tooltip-element active-link" data-tooltip="0">
                <a href="{% url 'faculty-student-profiles' %}" class="active" data-active="0">
                  <div class="icon">
                    <i class='bx bx-home'></i>
                    <i class='bx bxs-home'></i>
                  </div>
                  <span class="link hide">Home</span>
                </a>
              </li>
              <li class="tooltip-element" data-tooltip="1">
                <a href="{% url 'faculty-student-profiles' %}" data-active="1">
                  <div class="icon">
                    <i class='bx bx-user-pin'></i>
                    <i class='bx bxs-user-pin'></i>
                  </div>
                  <span class="link hide">User Profiles</span>
                </a>
              </li>
              <li class="tooltip-element" data-tooltip="2">
                <a href="{% url 'faculty-student-documents' %}" data-active="2">
                  <div class="icon">
                    <i class='bx bx-message-square-detail'></i>
                    <i class='bx bxs-message-square-detail'></i>
                  </div>
                  <span class="link hide">Student Documents</span>
                </a>
              </li>
              <li class="tooltip-element" data-tooltip="3">
                <a href="{% url 'announcements' %}" data-active="3">
                  <div class="icon">
                    <i class='bx bx-megaphone'></i>
                    <i class='bx bxs-megaphone'></i>
                  </div>
                  <span class="link hide">Announcements</span>
                </a>
              </li>
            </ul>
          </div>

      
          <div class="sidebar-footer">
            <a href="#" class="account tooltip-element" data-tooltip="0">
              <i class='bx bx-user'></i>
            </a>
            <div class="admin-user tooltip-element" data-tooltip="1">
              <div class="admin-profile hide">
                <img src="{{ user.usersprofile.user_profile_picture.url }}" alt="{{user}}'s profile">
                <div class="admin-info">
                  <h3>{{user.username}}</h3>
                </div>
              </div>
              <form action="{% url 'logout' %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="log-out" style="cursor: pointer;">
                    <i class='bx bx-log-out'></i>
                </button>
              </form>
            </div>
            <div class="tooltip">
              <span class="show">{{ user.username }}</span>
              <span>Logout</span>
            </div>
          </div>
        </nav>
      
      
        <main>
            {% block content %}
    
            {% endblock %}
        
            {% block additionalScripts %} {% endblock %}
        </main>
      
    <script src="{% static 'Faculties/js/base-faculty.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>