{% extends 'Faculties/faculty-base.html' %} 
{% load static %}

{% block page_title %}Student Documents{% endblock %}
{% block additionalLinks %}
{% endblock %}

{% block content %}
<div>
    <h1 style="margin: 0;">Student Documents</h1>
</div>
<div class="main-content-container container">
    <div class="mb-2 d-flex align-items-center container">
        
        <input type="text" id="username-filter" class="form-control me-2" placeholder="Name">

        <select class="form-select me-2" id="type-filter">
            <option value="0">Type</option>
            {% for document_type in document_types %}
            <option value="{{document_type.pk}}">{{document_type.document_type}}</option>
            {% endfor %}
        </select>

        <select class="form-select me-2" id="extension-filter">
            <option value="0">File Extension</option>
            <option value="txt">.txt</option>
            <option value="doc">.doc</option>
            <option value="docx">.docx</option>
            <option value="odt">.odt</option>
            <option value="pdf">.pdf</option>
        </select>

        <select class="form-select me-2" id="date-filter">
            <option value="0">Date Uploaded</option>
            <option value="1">1 day ago</option>
            <option value="3">3 days ago</option>
            <option value="5">5 days ago</option>
            <option value="7">1 week ago</option>
            <option value="14">2 weeks ago</option>
            <option value="30">1 month ago</option>
        </select>

        <button id="filter-button" class="btn btn-primary me-2">Filter</button>
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addNewTypeModal" style="white-space: nowrap; margin-left: 5px;">+ Type</button>
    </div>
    
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Student</th>
                <th>File Type</th>
                <th>File</th>
                <th>Description</th>
                <th>Comments</th>
                <th>Last Modified</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody id="document-container">
            {% for docs in documents %}
                <tr>
                    <td id="doc-name-{{docs.id}}">{{ docs.SP.profile.user.get_full_name }}</td>
                    <td id="doc-type-{{docs.id}}" data-value="{{ docs.SD_doc_type.id }}">{{ docs.SD_doc_type }}</td>

                    {% if docs.SD_document %}
                        <td><a id="doc-file-{{docs.id}}" href="{{ docs.SD_document.url }}" target="_blank">{{ docs.SD_document }}</a></td>
                    {% else %}
                        <td><a id="doc-file-{{docs.id}}" href=""></a></td>
                    {% endif %}

                    <td id="doc-description-{{docs.id}}">{{ docs.SD_doc_type.description }}</td>
                    <td id="doc-comment-{{docs.id}}">{{ docs.SD_comment }}</td>
                    <td id="doc-date-{{docs.id}}">{{ docs.SD_date_uploaded }}</td>
                    <td class="text-center" style="font-size: 20px;">
                        <a href="#" name="doc-edit-btn" data-bs-toggle="modal" data-bs-target="#doc-edit-formModal" id="doc-edit-btn-{{docs.id}}" class="text-primary mr-2 centered-icon-text">
                            <i class='bx bx-edit'></i>
                            <span class="text-center">Edit</span>
                        </a>
                        <a name="doc-del-btn" id="doc-edit-btn-{{docs.id}}" data-bs-toggle="modal" data-bs-target="#doc-del-formModal"  href="#" class="text-danger centered-icon-text"">
                            <i class='bx bx-trash'></i>
                            <span class="text-center">Delete</span>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>



    <div class="modal fade" id="doc-del-formModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5">Delete Document</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" onclick="deleteDocument(this)" id="documentDelBtn" data-value="1" class="btn btn-danger">Delete</button>
            </div>
          </div>
        </div>
      </div>







    <div class="modal fade" id="doc-edit-formModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h1 class="modal-title fs-5">Edit Document</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form enctype="multipart/form-data" id="doc-edit-form">
                <input type="hidden" id="doc-edit-id">
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="documentType" class="form-label">Document Type</label>
                        <select class="form-select me-2" id="doc-edit-type">
                            {% for document_type in document_types %}
                            <option value="{{document_type.pk}}">{{document_type.document_type}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Currently</span>
                        <div class="form-control d-flex h-auto">
                            <span class="text-break flex-grow-1"> 
                                <a href="" id="current-file" target="_blank"></a>
                            </span>
                            <div class="mb-3 form-check">
                                <input type="checkbox" class="form-check-input" id="edit-doc-clear" name="noFile">
                                <label class="form-check-label" for="edit-doc-clear">Clear</label>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="file" class="form-label">Choose File</label>
                        <input type="file" id="doc-edit-file" class="form-control" name="file">
                    </div>
                    
                    <div class="mb-3">
                        <label for="comment" class="form-label">Comment</label>
                        <textarea class="form-control" rows="3" id="doc-edit-comment"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
        </div>
    </div>
    










    <div class="modal fade" id="addNewTypeModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">New Document Type</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="addNewTypeForm">
                <div class="modal-body">
                    <div class="form-group mb-3">
                        <label for="addNewType" class="form-label">Name</label>
                        <input type="text" class="form-control" id="addNewType" name="name" placeholder="Enter Document Type" required>
                    </div>
                    <div class="form-group">
                        <label for="addNewDescription" class="form-label">Description</label>
                        <textarea class="form-control" id="addNewDescription" name="description" rows="3" placeholder="Enter a description"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </form>
          </div>
        </div>
      </div>

</div>



{% endblock %}


{% block additionalScripts %}
<script src="{% static 'Faculties/js/student-documents.js'%}"></script>
{% endblock %}