{% extends 'Faculties/faculty-base.html' %} 
{% load static %}
{% load crispy_forms_tags %}

{% block page_title %}Student Profiles{% endblock %}
{% block additionalLinks %}
<link rel="stylesheet" href="{% static 'Faculties/css/student-profile.css' %}">
{% endblock %}

{% block content %}
<div>
    <h1 style="margin: 0;">Student List</h1>
</div>

<div class="main-content-container container">
    <div id="student-list">
        <div class="mb-1">
            <button type="button" data-bs-toggle="modal" data-bs-target="#newStudentModal" class="btn btn-success btn-sm">Add Student</button>
        </div>
        <div class="modal fade" id="newStudentModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Student</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div>
                    
                </div>
                <form method="POST">
                    <div class="modal-body">
                        {% csrf_token%}
                        {{form | crispy}}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Add</button>
                    </div>
                </form>
              </div>
            </div>
          </div>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Student ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Class</th>
                </tr>
            </thead>
            <tbody>

                {% for student in students %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td> <a href="#" onclick="openStudentDetails('{{ student.id }}'); retrievePersonalInformation('{{ student.id }}');retrieveStudentGrades('{{ student.id }}')"> {{ student.profile.user.username }}</a></td>
                    <td>{{ student.profile.user.get_full_name }}</td>
                    <td>{{ student.admission.curriculum }}</td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>

    <div id="student-detail">
        <div>
            <a href="#" onclick="openStudentList()">Back</a>
        </div>
        <div class="tab">
            <button class="tablinks" id="tab-btn-1" onclick="openTab(event, 'Tab1')">Personal Information</button>
            <button class="tablinks" onclick="openTab(event, 'Tab2')">Grades</button>
            <button class="tablinks" onclick="openTab(event, 'Tab3')">Family Records</button>
            <button class="tablinks" onclick="openTab(event, 'Tab4')">Educational Background</button>
        </div>
        
        <div id="Tab1" class="tabcontent container">
            <div class="d-flex justify-content-end">
                <div class="btn-group">
                    <div id="pi-edit-mode" class="hidden">
                        <button onclick="profileInfoSave()" class="btn btn-primary btn-sm" style="width: 80px;">Save</button>
                        <button class="btn btn-danger btn-sm" onclick="profileInfoReadMode()" style="width: 80px;">Cancel</button>
                    </div>
                    <div id="pi-read-mode">
                        <button onclick="profileInfoEditMode()" class="btn btn-primary btn-sm" style="width: 80px;">Edit</button>
                        <button class="btn btn-danger btn-sm" style="width: 80px;">Delete</button>
                    </div>
                </div>
            </div>
            <div class="table-container" id="pi">
                <img src="/media/profile_pics/profile.jpg" alt="User Image" class="user-image mb-3" id="pi-img">
                <table class="user-info-table table table-striped">
                    <tbody>
                        <tr>
                            <input type="hidden" id="pi-id">
                            <th>Username/Student ID</th>
                            <td id="pi-un">
                                <p>Name</p>
                                <input class="form-control" type="text">
                            </td>
                            <th>Full Name</th>
                            <td id="pi-fln">
                                <p>Name</p>
                                <input class="form-control" disabled ="text">
                            </td>
                        </tr>
                        <tr>
                            <th>First Name</th>
                            <td id="pi-fn">
                                <p>Name</p>
                                <input class="form-control" type="text">
                            </td>
                            <th>Last Name</th>
                            <td id="pi-ln">
                                <p>Name</p>
                                <input class="form-control" type="text">
                            </td>
                        </tr>
                        <tr>
                            <th>Email</th>
                            <td id="pi-email">
                                <p>Name</p>
                                <input class="form-control" type="email">
                            </td>
                            <th>University Email</th>
                            <td id="pi-univ-email">
                                <p>Name</p>
                                <input class="form-control" type="email">
                            </td>
                        </tr>
                        <tr>
                            <th>Date of Birth</th>
                            <td id="pi-dob">
                                <p>Name</p>
                                <input class="form-control" type="date">
                            </td>
                            <th>Contact Number</th>
                            <td id="pi-contact">
                                <p>Name</p>
                                <input class="form-control" type="text">
                            </td>
                        </tr>
                        <tr>
                            <th>Sex</th>
                            <td id="pi-sex">
                                <p>Name</p>
                                <select name="Sex" class="form-select">
                                    <option value="M">Male</option>
                                    <option value="F">Female</option>
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        
        <div id="Tab2" class="tabcontent container">
            <div>
                <div class="row" id="grade-id">
                </div>
            </div>
        </div>

        <div id="Tab3" class="tabcontent container">
            <div class="text-end mb-2">
                <button data-bs-toggle="modal" data-bs-target="#addFamilyRecordModal" class="btn btn-primary">+ Add Family Record</button>
            </div>
            <div class="modal fade" id="addFamilyRecordModal" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5">Add Family Member</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <form>
                        <div class="modal-body">
                            <div class="mb-3">
                                <label for="relationship" class="form-label">Relationship*</label>
                                <select id="new-relationship" required class="form-select">
                                    <option value="Father">Father</option>
                                    <option value="Mother">Mother</option>
                                    <option value="Guardian">Guardian</option>
                                    <option value="Sibling">Sibling</option>
                                    <option value="Spouse">Spouse</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="contactNumber" class="form-label">Contact Number*</label>
                                <input type="tel" class="form-control" id="new-contactNumber" name="contactNumber" required>
                            </div>
                            <div class="mb-3">
                                <label for="firstName" class="form-label">First Name*</label>
                                <input type="text" class="form-control" id="new-firstName" name="firstName" required>
                            </div>
                            <div class="mb-3">
                                <label for="lastName" class="form-label">Last Name*</label>
                                <input type="text" class="form-control" id="new-lastName" name="lastName" required>
                            </div>
                            <div class="mb-3 form-check">
                                <input type="checkbox" class="form-check-input" id="new-emergency" name="setAsEmergency">
                                <label class="form-check-label" for="setAsEmergency">Set as Emergency Contact</label>
                            </div>
                            </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" id="new-family-btn" class="btn btn-primary">Add</button>
                        </div>
                    </form>
                    
                  </div>
                </div>
            </div>
            <div id="fam-container">
            </div>
            <div class="modal fade" id="deleteFamilyRecordModal" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5">Delete confirmation</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      Are you sure you want to delete?
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="button" id="del-fam-record-confirm" class="btn btn-danger">Delete</button>
                    </div>
                  </div>
                </div>
            </div>
        </div>

        <div id="Tab4" class="tabcontent container">
            <div class="text-end mb-2">
                <button data-bs-toggle="modal" data-bs-target="#addEducBgRecordModal" class="btn btn-primary">+ Add Education Background</button>
            </div>
            <div class="modal fade" id="addEducBgRecordModal" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5">Add Education Background</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <form id="new-educ-form">
                        <div class="modal-body">
                            <div class="mb-3">
                                <label for="level" class="form-label">Level</label>
                                <select id="new-level" class="form-select"required>
                                    <option value="Primary">Primary Level</option>
                                    <option value="Secondary">Secondary Level</option>
                                    <option value="Tertiary">Tertiary Level</option>
                                    <option value="Vocational">Vocational</option>
                                    <option value="Post-Graduate">Post-Graduate</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="institution" class="form-label">Institution</label>
                                <input type="text" class="form-control" id="new-institution" name="institution" required>
                            </div>
                            <div class="mb-3">
                                <label for="address" class="form-label">Address</label>
                                <input type="text" class="form-control" id="new-address" name="address" required>
                            </div>
                            <div class="mb-3">
                                <label for="description" class="form-label">Description</label>
                                <textarea class="form-control" id="new-description" name="description" rows="3"></textarea>
                            </div>
                            <div class="mb-3">
                                <label for="year" class="form-label">Year Graduated</label>
                                <input type="number" class="form-control" id="new-year" name="year" required>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" id="new-educ-btn" class="btn btn-primary">Add</button>
                        </div>
                    </form>
                    
                  </div>
                </div>
            </div>


            <div id="educ-container">

            </div>
            <div class="modal fade" id="deleteEducationBGModal" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5">Delete confirmation</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      Are you sure you want to delete?
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="button" id="del-educ-record-confirm" class="btn btn-danger">Delete</button>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
    
</div>


{% endblock %}


{% block additionalScripts %}
<script src="{% static 'Faculties/js/student-profiles.js' %}"></script>
<script src="{% static 'Faculties/js/student-profiles-grades.js' %}"></script>
{% endblock %}